// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 body.homepage{
     background-image: url('library.jpg');
     background-size:cover;
 }

 #notice{
     background-color: yellowgreen;
     color:black;
     width: 13%;
     margin-left: 20px;
 }
 .admin-lib-heading{
     text-align: center;
 }