body.sign-up{
    background-color:royalblue;
    margin: 0;
    padding: 0;
}
.sign-up-heading{
    color: black;
    text-align: center;
    margin-top: 30px; 
    font-size: 30px;
}
.form-css{
    border: 5px solid white;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    background-color:white;
    border-radius: 20px;
    padding: 0px 100px 10px 100px;
}

.label-css{
    font-size: 20px;
    font-weight: bold;
}
.field-css{
    width:100%;
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    color:grey;
    border:2px solid rgb(187, 186, 186) !important;
}
.field{
    margin-top: 20px;
}
.sign-up-btn{
   margin-left: 60px;
   margin-top: 20px;
   border-radius: 5px;
   padding: 10px 120px 10px 120px;
   font-size: 20px;
   font-weight: bold;
   background-color: royalblue;
   border: none;
   color: white;
   cursor: pointer;
}
.login-btn-css{
   margin-top: 30px;
   margin-left: 220px;
   font-size: 18px;
   color: grey;
}
